---
BasedOnStyle: WebKit
TabWidth: '4'
UseTab: Always
ColumnLimit: 120
AllowShortIfStatementsOnASingleLine: true
AllowShortLoopsOnASingleLine: true
AllowShortFunctionsOnASingleLine: All
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: true
...
